.button {
  position: relative;
  border: 1px solid $additional-text-color;
  border-radius: 30px;
  background-color: $transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: $additional-text-color;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s, background-color 0.3s;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }

  &::before {
    background-color: $additional-text-color;
    border-radius: 50%;
    transition: background-color 0.2s;
  }

  &::after {
    background-color: $additional-color;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: background-color 0.3s transform 0.3s;
  }

  &:hover {
    color: $additional-color;
    background-color: $additional-text-color;

    &::before {
      background-color: $additional-color;
    }

    &::after {
      background-color: $additional-text-color;
    }
  }

  &:active {
    color: rgba($additional-color, 0.7);
    background-color: $additional-text-color;

    &::before {
      background-color: $additional-color;
    }

    &::after {
      opacity: 0.7;
      background-color: $additional-text-color;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
    color: $disabled-color;
    border-color: $disabled-color;
  }

  &:disabled::before {
    background-color: $disabled-color;
  }

  &:disabled::after {
    background-color: rgba($additional-color, 0.6);
  }

  &--arrow::after {
    mask-image: url("/__spritemap#sprite-arrow-bold-view");
    mask-size: 10px;
  }

  &--arrow:hover::after,
  &--arrow:active::after,
  &--arrow:focus-visible::after {
    transform: translateY(-50%) rotate(45deg);
  }

  &--arrow:hover::after,
  &--arrow:focus-visible::after {
    transition: transform 0.3s;
  }

  &--reversed {
    border-color: $additional-color;
    color: $additional-color;
  }

  &--reversed::before {
    background-color: $additional-color;
  }

  &--reversed::after {
    background-color: $additional-text-color;
  }

  &--reversed:hover {
    color: $additional-text-color;
    background-color: $additional-color;
  }

  &--reversed:hover::before {
    background-color: $additional-text-color;
  }

  &--reversed:hover::after {
    background-color: $additional-color;
  }

  &--reversed:active {
    color: rgba($additional-text-color, 0.7);
    background-color: $additional-color;
  }

  &--reversed:active::before {
    background-color: $additional-text-color;
  }

  &--reversed:active::after {
    background-color: rgba($additional-text-color, 0.7);
  }

  &--reversed:disabled {
    pointer-events: none;
    color: $disabled-color;
    border-color: $disabled-color;
  }

  &--reversed:disabled::before {
    background-color: $disabled-color;
  }

  &--reversed:disabled::after {
    background-color: rgba($additional-color, 0.6);
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}
