.contact-form {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: $tablet-width;
    padding: 50px 58px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 60px $desktop-padding;
  }
}

.contact-form__image-background-wrapper {
  display: flex;
  padding: 43px 10px 40px;
  background-image: url("../img/form-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #95a6a5;

  @media (resolution >= 2dppx) {
    background-image: url("../img/form-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding: 0 210px 0 0;
    min-height: 780px;
    background-image: url("../img/form-tablet.png");
    border-radius: 16px;

    @media (resolution >= 2dppx) {
      background-image: url("../img/form-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 750px;
    min-height: 800px;
    background-image: url("../img/form-desktop.png");

    @media (resolution >= 2dppx) {
      background-image: url("../img/form-desktop@2x.png");
    }
  }
}

.contact-form__wrapper {
  @include flex-column(0);

  margin: 0 auto;
  padding: $mobile-padding;
  min-height: 670px;
  width: 300px;
  background-color: $additional-text-color;
  border-radius: 16px;
  color: $base-color;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 30px 40px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 70px;
  }
}

.contact-form__title {
  @include indent-reset;

  margin-bottom: 10px;
  color: $additional-color;

  @media (min-width: $tablet-width) {
    margin-top: 11px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 14px;
    margin-bottom: 34px;
  }
}

.contact-form__text {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}
