.form {
  display: grid;
  gap: 20px;

  &--modal {
    gap: 15px;
    text-align: left;

    @media (min-width: $tablet-width) {
      gap: 20px;
    }
  }
}

.form__label {
  display: grid;
  gap: 12px;

  &--checkbox {
    position: relative;
    display: inline-flex;
    padding-left: 30px;

    @media (min-width: $desktop-width) {
      align-items: center;
      min-height: 20px;
    }
  }

  &--modal {
    gap: 8px;

    @media (min-width: $tablet-width) {
      gap: 12px;
      min-height: 20px;
      align-items: center;
    }
  }
}

.form__control-mark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $additional-color;
  border-radius: 2px;
  border: 1px solid $additional-color;
  transform: translateY(-50%);
  transition: all 0.1s;
  cursor: pointer;

  &--modal {
    background-color: $additional-text-color;
    border-color: $additional-text-color;
  }
}

.form__control-input:checked + .form__control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: $additional-text-color;
  mask-image: url("/__spritemap#sprite-checkbox-view");
  mask-size: 10px;
  mask-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.form__control-input:checked + .form__control-mark--modal::before {
  background-color: $additional-color;
}

.form__control-input:hover + .form__control-mark,
.form__control-input:active + .form__control-mark {
  background-color: $additional-text-color;

  &--modal {
    background-color: $additional-color;
  }
}

.form__control-input:focus-visible {
  outline: none;
}

.form__control-input:disabled {
  pointer-events: none;
}

.form__control-input:disabled ~ .form__label-text--checkbox {
  color: $base-color;
  opacity: 0.8;
}

.form__control-input:disabled + .form__control-mark {
  pointer-events: none;
  background-color: rgba($additional-color, 0.6);

  &--modal {
    background-color: rgba($additional-text-color, 0.2);
    border-color: rgba($additional-text-color, 0.2);
  }
}

.form__control-input:focus-visible + .form__control-mark {
  background-color: $additional-text-color;

  &--modal {
    background-color: $additional-color;
  }
}

.form__control-input:checked:hover + .form__control-mark::before,
.form__control-input:checked:active + .form__control-mark::before,
.form__control-input:checked:focus-visible + .form__control-mark::before {
  background-color: $additional-color;
}

.form__control-input:checked:hover + .form__control-mark--modal::before,
.form__control-input:checked:active + .form__control-mark--modal::before,
.form__control-input:checked:focus-visible + .form__control-mark--modal::before {
  background-color: $additional-text-color;
}

.form__control-input:checked:disabled + .form__control-mark {
  pointer-events: none;
  background-color: $disabled-color;
  border-color: $disabled-color;

  &::before {
    background-color: $additional-color;
  }

  &--modal {
    background-color: $disabled-color;
    border-color: $disabled-color;
  }
}

.form__label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  opacity: 0.8;
  order: -1;

  &--checkbox {
    color: $additional-color;
    opacity: 1;
  }

  &--modal {
    font-size: 14px;
    color: $base-text-color;
  }

  &--modal-checkbox {
    font-size: 12px;
    color: $base-text-color;
    opacity: 0.9;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;

    &--checkbox {
      font-size: 12px;
    }

    &--modal-checkbox {
      font-size: 12px;
      line-height: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;

    &--select {
      line-height: 14px;
    }

    &--checkbox,
    &--modal-checkbox {
      line-height: 12px;
    }

    &--modal {
      line-height: 18px;
    }
  }
}

.form__input {
  padding: 14px 19px;
  background-color: $additional-text-color;
  border: 1px solid rgba($additional-color, 0.3);
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $base-color;
  transition: border-color 0.3s;

  &--textarea {
    height: 94px;
    line-height: 14px;
    resize: none;
  }

  &:hover {
    border-color: $additional-color;
  }

  &:hover + .form__label-text,
  &:active + .form__label-text,
  &:focus-visible + .form__label-text {
    opacity: 1;
  }

  &:active {
    border-color: $additional-color;
    color: $additional-color;
  }

  &:focus-visible {
    outline: none;
    border-color: $additional-color;
    color: $additional-color;
  }

  &:disabled {
    border-color: rgba($additional-color, 0.4);
    background-color: rgba($additional-color, 0.2);
  }

  &:disabled + .form__label-text {
    opacity: 0.6;
  }

  &--modal {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: $additional-color;
    color: $base-text-color;
    border-color: rgba($base-text-color, 0.3);

    &:hover,
    &:active,
    &:focus-visible {
      border-color: $base-text-color;
      color: $base-text-color;
    }

    &:disabled {
      border-color: rgba($disabled-color, 0.5);
      background-color: rgba($disabled-color, 0.2);
    }

    @media (min-width: $tablet-width) {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }

  &--error {
    background-color: rgba($error-color, 0.2);
    border-color: $error-color;
  }
}

.form__select {
  position: relative;
  display: flex;
  width: calc(100% - 10px);
  height: 50px;
  z-index: 1;

  &[data-state="active"] {
    .form__select-title {
      border-color: $additional-color;

      &::before {
        transform: rotate(-180deg);
      }
    }

    .form__select-options {
      border-width: 1px;
    }

    .form__select-label {
      max-height: 48px;

      &::before {
        opacity: 1;
      }
    }
  }

  &[data-state="active"] + .form__label-text {
    opacity: 1;
  }

  &--modal {
    width: auto;
    height: 44px;

    &[data-state="active"] {
      .form__select-title {
        border-color: $base-text-color;
      }

      .form__select-label {
        max-height: 42px;
      }
    }

    @media (min-width: $tablet-width) {
      height: 50px;

      &[data-state="active"] {
        .form__select-label {
          max-height: 48px;
        }
      }
    }
  }

  &:has(.form__select-title:hover) + .form__label-text,
  &:has(.form__select-title:active) + .form__label-text,
  &:has(.form__select-title:focus-visible) + .form__label-text {
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.form__select-title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 14px 19px;
  background-color: $additional-text-color;
  border: 1px solid rgba($additional-color, 0.3);
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  color: $base-color;
  transition: border-color 0.3s;
  cursor: pointer;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 8px);
    right: 21px;
    width: 16px;
    height: 16px;
    background-color: $additional-color;
    mask-repeat: no-repeat;
    mask-size: 16px;
    mask-position: center;
    mask-image: url("/__spritemap#sprite-arrow-select-view");
    transition: all 0.3s;
  }

  &:hover,
  &:active {
    border-color: $additional-color;
  }

  &:focus-visible {
    outline: none;
    border-color: $additional-color;
  }

  &:hover ~ .form__label-text,
  &:active ~ .form__label-text,
  &:focus-visible ~ .form__label-text {
    opacity: 1;
  }

  &:disabled {
    pointer-events: none;
    border-color: $disabled-color;
    background-color: rgba($additional-color, 0.2);
    color: $disabled-color;

    &::before {
      background-color: $disabled-color;
    }
  }

  &:disabled + .form__label-text {
    opacity: 0.6;
  }

  &--modal {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: $additional-color;
    color: $base-text-color;
    border-color: rgba($base-text-color, 0.3);

    &::before {
      background-color: $base-text-color;
    }

    &:hover,
    &:active,
    &:focus-visible {
      border-color: $base-text-color;
      color: $base-text-color;
    }

    &:disabled {
      border-color: rgba($disabled-color, 0.5);
      background-color: rgba($disabled-color, 0.2);

      &::before {
        background-color: rgba($disabled-color, 0.5);
      }
    }

    @media (min-width: $tablet-width) {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }
}

.form__select-options {
  @include flex-column(0);
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background-color: $additional-color;
  border-width: 0;
  border-style: solid;
  border-color: $additional-color;
  border-radius: 8px;
  transition: all 0.3s;
  z-index: 1;

  &--modal {
    top: 51px;
    border-color: $base-text-color;

    @media (min-width: $tablet-width) {
      top: 55px;
    }
  }
}

.form__select-option {
  display: none;
  pointer-events: none;

  &:focus-visible {
    outline: none;
  }

  &:focus-visible + label {
    background-color: $additional-text-color;

    &::before {
      color: $additional-color;
    }
  }

  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}

.form__select-label {
  display: flex;
  align-items: center;
  padding: 0 19px;
  height: 48px;
  max-height: 0;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;

  &:first-of-type {
    border-radius: 7px 7px 0 0;
  }

  &:last-of-type {
    border-radius: 0 0 7px 7px;
  }

  &::before {
    content: attr(data-value);
    opacity: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    font-style: normal;
    color: $base-text-color;
    transition: all 0.2s ease-out;
  }

  &::after {
    position: absolute;
    display: flex;
    align-items: center;
    top: -55px;
    left: 0;
    width: 200px;
    height: 48px;
    padding: 14px 19px;
    color: $base-color;
  }

  &--active {
    background-color: $additional-text-color;

    &::before {
      color: $additional-color;
    }

    &::after {
      content: attr(data-value);
    }
  }

  &--modal {
    width: auto;
    height: 44px;

    &::after {
      top: -51px;
      height: 44px;
    }

    @media (min-width: $tablet-width) {
      height: 48px;

      &::after {
        top: -55px;
        height: 48px;
      }
    }
  }

  &:hover::before {
    color: $additional-text-color;
  }

  &:active {
    background-color: $additional-text-color;

    &::before {
      color: $additional-color;
    }
  }

  &:focus-visible {
    background-color: $additional-text-color;
    outline: none;

    &::before {
      color: $additional-color;
    }
  }
}

.form__button {
  padding: 15px 68px 15px 30px;
  width: calc(100% - 10px);
  text-align: center;

  &::before,
  &::after {
    height: 34px;
    width: 34px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    padding: 20px 80px 20px 30px;

    &::before,
    &::after {
      height: 46px;
      width: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }

  &--modal {
    margin-top: 10px;
    padding: 14px 67px 14px 29px;
    width: 100%;

    &::before,
    &::after {
      right: 4px;
    }

    @media (min-width: $tablet-width) {
      margin-right: auto;
      margin-left: auto;
      padding: 19px 79px 19px 29px;
      width: auto;
    }
  }
}
