.reviews {
  position: relative;
  display: grid;
  gap: 30px;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: ($tablet-width - 0.02)) {
    grid-template-columns: 1fr auto;
  }

  @media (min-width: $tablet-width) {
    gap: 40px;
  }

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 0.02)) {
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.reviews__title {
  padding: 6px 0 5px;
  color: $additional-text-color;

  @media (max-width: ($tablet-width - 0.02)) {
    line-height: 19px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 0;
  }
}

.reviews__slider-control {
  height: 22px;
  width: 52px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: $tablet-padding;
    width: 678px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
  }
}

.reviews__slider {
  width: 100%;

  @media (max-width: ($tablet-width - 0.02)) {
    grid-column: 1 / 3;
  }

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 0.02)) {
    padding-right: 163px;
  }
}

.reviews__list {
  @include list-reset;
}

.reviews__item {
  display: grid;
  align-content: start;
  align-items: center;
  padding: 30px 15px;
  min-height: 472px;
  border: 2px solid $additional-text-color;
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr auto;
    gap: 25px 15px;
    padding: 50px;
    min-height: 417px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 46px 50px 50px;
    padding-right: 47px;
    min-height: 483px;
  }
}

.reviews__author {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 10px;
  align-items: center;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 90px 1fr;
    margin-bottom: 0;
    gap: 15px;
  }
}

.reviews__author img {
  display: block;
  max-width: 60px;
  background-color: $overlay-photo-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    max-width: 90px;
  }
}

.reviews__author-name {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $additional-text-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__info {
  @include list-reset;

  display: grid;
  grid-template-columns: 118px 1fr;
  gap: 15px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto auto;
    gap: 25px;
    margin-bottom: 0;
  }
}

.reviews__info-group {
  display: grid;
  gap: 8px;

  @media (min-width: $tablet-width) {
    gap: 11px;
  }
}

.reviews__info-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  color: $additional-text-color;
  text-transform: uppercase;
}

.reviews__info-definition {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $base-text-color;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.reviews__slide-title {
  margin-top: -1px;
  margin-bottom: 20px;
  color: $additional-text-color;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.reviews__item p {
  @include indent-reset;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $base-text-color;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 26px;
  }
}
