$base-color: #f0efe9;
$additional-color: #ffffff;
$base-text-color: #484848;
$additional-text-color: #316dc2;
$active-color: #275699;
$disabled-color: #a9afb7;
$error-color: #ff5e66;
$overlay-menu-color: rgba(13, 29, 51, 0.4);
$overlay-photo-color: rgba(49, 109, 194, 0.2);
$transparent: rgba(255, 255, 255, 0);

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$mobile-padding: 15px;
$tablet-padding: 45px;
$desktop-padding: 100px;

$main-font: "Manrope", sans-serif;
